body {
    font-family: Arial, Helvetica, sans-serif;
    background: lightgray;
}

a {
    text-decoration: none;
    color: teal;
}
.profile-img {
    width: 200px;
    border-radius: 50%;
}

.info {
    text-align: center;
}
.projects {
    padding: 20px;
}

.projects .projects-box {
    width: 100%;
    border: 3px solid black;
    text-align: center;
    margin: 10px 0;
    background: white;
    
}

.projects .projects-box h3 {
    text-align: center;
    vertical-align: middle;
    line-height: 90px; 
}
.social-links {
    width: 100%;
    font-size: 25px;
    color: black;
}

.social-links a {
    width: 33%;
    float: left;
    text-align:center;
} 

@media (min-width: 480px) {
    .projects .projects-box {
        height: 250px; 
        width: 30%;
       float: left;
        margin: 1%;
    }

    .social-links a {
        margin-top: 20px;
    }
}